.appContainer {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2em;
  font-family: sans-serif;
  font-size: 1.2em;
  background-color: white;
  border: 1px solid #DDD;
  border-top: none; border-bottom: none;
}

@media (min-width: 568px) {
  .appContainer {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .appContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .appContainer {
    width: 1170px;
  }
}